<md-card *ngIf="weatherResponse">
  <md-card-title>{{ weatherResponse.name }}</md-card-title>
  <md-card-content>
    <h3 class="i_icon">{{ weatherResponse.main.temp }} ℉</h3>
    Min: {{ weatherResponse.main.temp_min }} Max: {{ weatherResponse.main.temp_max }} <br />
    <div *ngFor="let weather of weatherResponse.weather">
      {{ weather.main }}
      <img [src]="weather.icon"/>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Details</button>
    <button md-raised-button color="accent">Change City</button>
  </md-card-actions>
  <md-card-footer>
    
  </md-card-footer>
</md-card>
